.app {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100vh;
} 

.Content {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
